body {
  color: #414141;
  font: 0.875em/150% "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 5%;
  vertical-align: baseline;
  max-width: 44em;
}
h1 {
  color: #525252;
  font-size: 2em;
  font-weight: 300;
  line-height: 110%;
  margin: 0 0 0.25em 0;
}
h2 {
  color: #525252;
  font-size: 1.286em;
  font-weight: normal;
  line-height: 110%;
  margin: 1.5em 0 0.5em 0;
}
h3 {
  font-size: 1.143em;
  font-weight: normal;
  line-height: 110%;
  margin: 1.5em 0 0.5em 0;
}
a {
  color: #13608B;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0898CC;
}
p {
  color: #777;
  margin: 0;
}
ol {
  border-left: 1px solid #ccc;
  margin: 0 0 2em 0;
  padding: 0 0 0 1em;
}
ul {
  margin-top: 0;
  padding: 0;
}
li {
  color: #777;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}
.bulleted > li {
  list-style: disc outside;
  margin-left: 1.5em;
}
li > h3 {
  margin-bottom: 0.15em;
}
h1 + p {
  margin: 0 0 1.5em 0;
}
